h5 {
  text-align: center;
}

.actions {
  text-align: center;
  margin-top: 0.6rem;
}

.actions button {
  font: normal;
  cursor: pointer;
  background-color:#f5f0f0;
  border: 1px solid #f5f0f0;
  padding: 0.3rem 1.4rem;
  border-radius: 5px;
  margin-left: 1rem;
  transition: all 1s;
}

.actions button:hover,
.actions button:active {
  background-color: #e67145;
  border-color: #e67145;
  color: white;
  transform: scale(1.1);
}

.actions .button--alt {
  color: #1b1a19;
}

