h5 {
  text-align: center;
}



.actions {
  text-align: center;
  margin-top: 0.6rem;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color:#f5f0f0;
  border: 1px solid #e67145;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #e67145;
  border-color: #e67145;
  color: white;
}

.actions .button--alt {
  color: #e67145;
}

/* .actions .button {
  background-color: #8a2b06;
  color: white;
} */