.header {
  position: sticky;
  top: 0;
  left: 0;
  background: rgba(28, 39, 50, 0.6);
  /* background-color: rgb(68, 67, 67,0.6); */
  width: 100%;
  color: #bbc5ce;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  opacity: 7;
}
