.card {
  padding: 1rem;
  /* box-shadow: 0 5px 8px rgba(5, 5, 5, 0.25); */
  box-shadow: 3px 6px 3px -2px rgb(0 0 0 / 40%), 0px 4px 5px rgb(0 0 0 / 50%),
    -2px 3px 1px -1px rgb(0 0 0 / 40%);
  border-radius: 14px;
  background: rgba(28, 39, 50, 0.9);
  height: object-fit;
  margin-bottom: 1rem;
}
